@font-face{
    font-family: avenir;
    src: url(fonts/Avenir-Medium.ttf);
}


:root {
    /* Colors */
    --grey-800: #424242;
    --grey-600: #757575;
    --grey-400: #bdbdbd;
    --grey-300: #E0E0E0;
    --grey-100: #f5f5f5;
    --red-a700: #d50000;

    /* Borders */
    --out-line: 1px solid #424242;

    /* Shadows */
    --mid-shadow:  .2rem .2rem 1rem 0 rgba(0, 0, 0, .25);
    --light-shadow:  0 .1rem .5rem 0 rgba(0, 0, 0, .05);
}

*{
   margin :0px;
   padding:0px;
   box-sizing: border-box;
}

/* Reset page font size, 1rem = 16px */
html body{
    font-size: 16px;
    font-family:'avenir';
    background-color: var(--grey-100);
}
html {
    position: relative;
    min-height: 100%;
}
body {
    color: #424143;
    font-family: 'avenir';
    background-color: #f6f6f6;
    letter-spacing: 1px!important;
}

/* Layout */

section {
    max-width: 1000px;
    margin: 0rem auto 0;
    display: flex;
    display: -ms-flexbox;
    padding: 0rem 1rem;
}

/* Headers */

/* Typography */
h4.title-sent{
	font-size: 19px;
	color: #424143;
    font-weight: bold;
    display: inline;
}


.tag{
    display: inline-block;
    color: white;
    background-color: #E04C4C;
    border-radius: 99px;
    padding: 0.25rem 0.75rem;
    margin-left: 1rem;
}
/* Links */ 

button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 0.75rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover, button:focus, button:active{
    outline: none;
}

.btn-round{
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;

    margin: .5rem auto;
    background-color:var(--grey-800);
    box-shadow: var(--mid-shadow);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
}
.btn-round:focus{
    background-color:var(--grey-600);
}

.btn-round:hover{
    background-color:var(--grey-600);
}

.btn-round:after{
    content: ' ';
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
    display: block;
    position: relative;
    border: 1px solid white;
    z-index: 20;
}
.loading-spinner{
    position: absolute!important;
    top: 50%;
    background: none;
    text-align: center;
    display: none;
    left: 50%;
    width: auto!important;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 2;
    
}
.loader-img{
    width: 60px;
    height: 60px;
    opacity: .3;
}
button.solid{
    color: white;
    background-color: var(--grey-800);
}

button.solid:hover{
    color: white;
    background-color: var(--grey-600);
}

button.outline{
    color: var(--grey-800);
    border: var(--out-line);
    background-color: white;
}

button.outline:hover{
    background-color: var(--grey-300);
}

/* Images */

/* Forms */

/* Tables */

/* Quotes */

/* Alignment */
section .align-center{
    text-align: center;
    margin: 0 auto;
}


/* Custom styles */

footer{
    background-color: white;
    color: #424143;
}

footer a{
    color: #7A7A7B;
}

.footer-section{
    justify-content: space-between;
    -ms-flex-pack: justify;
    padding: 2rem 1rem;
    padding-top: 3rem;
}

.footer-logo{
    /* display: flex;
    display: -ms-flexbox; */
    align-items: center;
    margin-left: 1rem;
}
 .intro-btns {
    flex-direction: column;
    align-items: flex-end;
}
@media screen and (max-width: 769px){
.intro-btns {
    text-align: center;
}
.intro-btns div {
    display: inline-block;
}
}
.btn-outline {
    margin: .5rem;
    border: 1px solid #424143;
    color: #424143;
    min-width: 160px;
    background-color: #ffffff;
    transition: background-color 450ms ease;
}
.btn-solid {
    margin: .5rem;
    color: #dfdfdf;
    min-width: 160px;
    background-color: #424143;
    transition: background-color 450ms ease;
}
label{
         font-weight: normal;
}
.container-radio {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
    /* padding-left: 1.5rem;
    margin-bottom: .25rem; */
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: var(--out-line);
}

.container-radio .checkmark:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--grey-800);
}

.container-radio input:checked ~ .checkmark:after {
    display: block;
}

 /* Customized styling of radio selection */

.checkmark:after {
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    content: "";
}

.container-radio input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
}

.asr-btn-record{
    /* background-image: url('../img/keyboard_voice-24px.png'); */
    background-position: center;
    background-repeat: no-repeat;
}

.asr-btn-disable{
    background-color: var(--grey-600);
    /* background-image: url('../img/keyboard_voice-24px.png'); */
    background-position: center;
    background-repeat: no-repeat;
    cursor: not-allowed;}
.fa-microphone{
    position: absolute;
    /* font-size: 1.3rem */
     font-size: 2rem 
    
}
.asr-btn-disable:hover i{
    background-color:var(--grey-600);
    color: #afadad;
}
/* Animation while holding the recording button */
 .asr-btn-disable::after{
    content: ' ';
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    display: block;
    position: relative;
    border: 4px solid white;
    z-index: 20;
    animation: recording 4s;
    animation-iteration-count: infinite;
}

@keyframes recording {
    0%{
        border: 2px solid rgba(255,255,255,.1);
        width: 4rem;
        height: 4rem;
    }
    50% {
        border: 2px solid rgba(255,255,255,.5);
        width: 6rem;
        height: 6rem;
    }
    100%{
        border: 2px solid rgba(255,255,255,.1);
        width: 4rem;
        height: 4rem;
    }
}
/****/

.asr-result div{
    width: 100%;
    position: relative;
}
    .count {
        position: absolute;
        left: -2rem;
        color: #bdbdbd;
        font-size: 2.5rem;
        top: 0;
    }
/* Mobile Responsive */


@media screen and (max-width : 768px) {   

    footer section{
      display: block;
    }

    .footer-logo{
      /* padding-top: 2rem; */
      justify-content: center;
      -ms-flex-pack: justify;
    }
    
    }
    

/** out put area test **/
.bg-fade{
    padding: 1rem;
    text-align: center;
    background-color: #808081;
    color:#fff;
}
.time-right {
    color: #747474;
    float: right;
}

.outputcontainerblue:hover{
    background-color: var(--grey-300);
}

.outputcontainerblue {
    border: none;
    background-color: var(--grey-100);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 8px;
    width: calc(100% - 3rem);
    word-break: break-word;
    color: #808081;
    font-weight: normal;
    float:right !important;
    color: var(--grey-800);
    z-index: 1;
}

.asrBox{
	overflow: auto;
	height: 370px;
	border-radius: 3px;
	padding: 1rem 1rem 1rem 3rem;
	background: #ffffff;
	box-shadow: var(--light-shadow)
}

/* ---------------------------------- */
.mt-3{
    margin-top: 3rem;
}
.mt-2{
    margin-top: 3rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-4{
    margin-top: 4rem;
}
.p-1 {
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.back-to-home a {
    cursor: pointer;
    text-decoration: none;
    color: #424143;
}
.CF-support{
    background-image: url(../img/demo-app-bg-waveline.png);
    background-repeat: no-repeat;
    margin: 0;
    background-size: contain;
    /* min-height: calc(100vh - 104px); */
    background-position: bottom;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
 }
 .container-flex{
    flex: 1 1 0;
 }
 @media screen and (max-width: 991px) {
    .footer-section{
        flex-direction: column;
        flex-flow: column;
        text-align: center;
        display: flex;      
    }
    .footer-logo {
        display: flex;
        display: -ms-flexbox;
        align-items: center;       
        text-align: center;
        display: block;
        /* margin: 2rem auto; */
        margin: 0 auto;
        padding-bottom: 1rem;
    }

  }
   
 @media screen and (max-width : 768px) {
     
     
    body{
        background-size: 200%;
        background-position-x: right;
        }
    
        footer section{
          display: block;
        }
    
        .footer-logo{
          /* padding-top: 2rem; */
          justify-content: center;
          -ms-flex-pack: justify;
        }
        
        }
@media (min-width: 1200px){
.footer-section{
max-width:1170px
}
}

@media (min-width: 992px){
.footer-section{
    max-width: 970px;
  }
}

/* @media (min-width: 768px) {
.footer-section{
    max-width: 750px;
  }
} */
.content{	
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.flex-fill{
    flex: 1 1 auto;
}